<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="A Car-Sharing Web Application">
    <meta name="keywords" content="Car Car-Sharing Google-Maps">
    <meta name="author" content="Damian Tudor Christian, Ciuntu Sorin Andrei">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Ober Rides</title>
</head>

<body class="body-style">
    <div class="nav-bar">
        <h1 class="text-style nav-bar-elem">OBER RIDES</h1>
        <h1 class="nav-bar-elem"><a href="driver-acc.html"><button class="button">Driver</button></a></h1>
        <h1 class="nav-bar-elem"><a href="passenger-acc.html"><button class="button">Sign Out</button></a></h1>
    </div>
    </br>
    <h3>You are now signed in!</h3>
    <h4>More to be implemented soon</h4>
    
    <a href="index.html"><button class="button">Go Back to Home Screen</button></a>
</body>

</html>