<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
